<a [routerLink]="['/product,product',product().id]">
    

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <picture>
        <img class="rounded-t-lg h-60 w-full object-contain object-center" [src]= "product().image" alt="" />
    </picture>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-1"
            >{{product().title}}
        </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3"
        >{{product().description}}
    </p>
     
    </div>
</div>

</a>